@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galindo&display=swap");

/* css variables */
:root {
  --white: hsl(0, 0%, 100%);
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue-2: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  transition: background-color 0.35s;
}
img,
svg {
  outline: 0;
  user-select: none;
}
body,
html {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 16px;
}
a,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}
li {
  cursor: pointer;
  list-style: none;
}
body {
  --bg-color: var(--very-light-gray);
  --text-color: var(--very-dark-blue-2);
  --elements-bg: var(--white);
  --input-cl: var(--dark-gray);
  --nav-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
  --elements-box-shadow: rgba(99, 99, 99, 0.2) 1px 2px 10px 0px;
  --opacity: 1;
  background-color: var(--bg-color);
}
body.dark-theme {
  --bg-color: var(--very-dark-blue);
  --text-color: var(--white);
  --elements-bg: var(--dark-blue);
  --input-cl: var(--elements-bg);
  --nav-box-shadow: 1px 1px 10px 0px rgba(32, 44, 55, 0.5);
  --elements-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  --opacity: 0.9;
  background-color: var(--bg-color);
}
/* styles */

nav {
  width: 100%;
  background-color: var(--elements-bg);
  box-shadow: var(--nav-box-shadow);
  padding: 1.2rem 0;
  z-index: 10;
  position: relative;
}
.nav-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container h2 {
  font-size: 1.3rem;
  color: var(--text-color);
  opacity: var(--opacity);
}

.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode .icon {
  position: relative;
  top: 0.15rem;
  margin-right: 0.3rem;
}
.dark-mode .icon-light.active {
  display: none;
}
.dark-mode .icon-night {
  display: none;
  color: var(--text-color);
  opacity: var(--opacity);
}
.dark-mode .icon-night.active {
  display: block;
}
.dark-mode .d-mode {
  font-weight: 800;
  font-size: 14.5px;
  color: var(--text-color);
}
/* end of nav styling */

.country-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  padding: 3rem 0;
}
.back-btn {
  width: 80%;
  margin: 0 auto;
}
.back-btn a,
.error-case a {
  padding: 0.45rem 1.9rem 0.45rem 1.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: var(--elements-box-shadow);
  background-color: var(--elements-bg);
  color: var(--text-color);
}
.back-btn a span,
.error-case a span {
  font-size: 18px;
  position: relative;
  top: 0.3rem;
  right: 0.5rem;
}

/* ################################################# */
.country-info-container {
  width: 80%;
  margin: 4rem auto 0 auto;
  display: flex;
  align-items: flex-start;
}
.left-section {
  width: 30rem;
  height: 20rem;
  margin-right: 5rem;
}
.left-section img {
  min-width: 100%;
  max-width: 30rem;
  box-shadow: var(--elements-box-shadow);
}
.right-section {
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  width: 100%;
}
.r-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  width: 100%;
}
.r-t-ul {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.r-top h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  opacity: var(--opacity);
}

.right-section ul li {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  opacity: var(--opacity);
  cursor: auto;
}
.right-section ul li span {
  font-weight: 800;
  margin-right: 0.4rem;
}
.r-bottom {
  display: flex;
  align-items: flex-start;
}
.span-c {
  width: max-content;
  margin-right: 1rem;
}
.r-bottom span {
  font-weight: 800;
  font-size: 0.85rem;
  word-wrap: none;
  color: var(--text-color);
  opacity: var(--opacity);
}
.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0;
  width: 70%;
}
.border-countries a {
  padding: 0.3rem 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: var(--elements-box-shadow);
  background-color: var(--elements-bg);
  color: var(--text-color);
  font-size: 0.7rem;
  border-radius: 4px;
  margin-right: 0.3rem;
}
.border-countries p {
  color: var(--text-color);
  opacity: var(--opacity);
  font-size: 0.7rem;
  position: relative;
  top: 0.3rem;
}

/* error page styling */
.error-case {
  width: 90%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  display: none;
}
.error-case.show {
  display: flex;
}
.err-left {
  margin-right: 5rem;
}
.err-left h3 {
  margin-bottom: 0.2rem;
  font-size: 3rem;
  color: var(--text-color);
  opacity: var(--opacity);
}
.err-left p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  opacity: var(--opacity);
}
.err-left a {
  width: max-content;
}
.err-right {
  position: relative;
  top: -1rem;
}
.err-right span {
  font-size: 8rem;
  font-family: "Galindo", cursive;
  position: relative;
  top: -1.5rem;
  left: 1rem;
  color: var(--text-color);
  opacity: var(--opacity);
}
.err-right span:nth-child(1) {
  left: 1.5rem;
}
.err-right span:nth-child(3) {
  left: -1.5rem;
}
.err-right img {
  width: 10rem;
}

footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--bg-color);
}
.attribution {
  color: var(--text-color);
  opacity: var(--opacity);
  font-size: 0.8rem;
}
.attribution a {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .country-info-container {
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 8rem 0;
  }
  .left-section {
    width: 80%;
    max-height: 20rem;
    margin-right: unset;
    margin-bottom: 2rem;
  }
  .right-section {
    padding-top: 2rem;
    width: 80%;
  }
  .r-top h3 {
    font-size: 2rem;
  }
  .right-section ul li {
    font-size: 1.2rem;
  }
  .r-bottom {
    justify-content: space-between;
  }
  .r-bottom span {
    font-size: 1.2rem;
  }
  .border-countries a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .country-info-container {
    width: 90%;
    gap: 4rem 0;
  }
  .right-section {
    padding-top: 2rem;
    width: 80%;
    align-items: center;
  }
  .r-top h3 {
    font-size: 1.7rem;
  }
  .right-section ul li {
    font-size: 1.1rem;
  }
  .r-t-ul {
    display: flex;
  }
  .r-bottom {
    flex-direction: column;
    gap: 1.5rem 0;
  }
  .border-countries {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .country-info-container {
    width: 90%;
    gap: 1rem 0;
    height: unset;
    padding-left: 0.5rem;
  }
  .left-section {
    max-width: 100%;
    min-width: 100%;
    max-height: 250px;
  }
  .left-section img {
    min-width: 100%;
    max-width: 100%;
  }
  .right-section {
    padding-top: 0rem;
    width: 100%;
  }
  .r-t-ul {
    flex-direction: column;
    gap: 2rem 0;
  }
  .right-section ul li {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  .r-bottom {
    padding: 0 0 2rem 0;
  }
  .r-bottom span {
    font-size: 1rem;
  }
  .border-countries a {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }
}
@media (max-width: 375px) {
  .nav-container {
    width: 92%;
  }
  .nav-container h2 {
    font-size: 1rem;
  }
}

@media (max-width: 280px) {
  .d-mode {
    display: none;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
  opacity: 0.8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 10px;
}
